/*
Errno::ENOENT: No such file or directory @ rb_sysopen - ./style.scss

Backtrace:
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:484:in `read'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/plugin.rb:109:in `method_missing'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/bin/sass:23:in `load'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/bin/sass:23:in `<main>'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `eval'
/Users/sweetcuppee/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - ./style.scss"; }
